<div class='container-fluid p-0 m-0' id="whole">
  <div id="musicPlayer" #musicPlayer>
    <p #title></p>
    <audio controls id="audioBox" #audioBox [hidden]="!isPlaying">
      <source type="audio/mpeg" id='audio' #audio/>
      <source type="audio/wav" id='audioWav' #audio/>
    </audio>
  </div>
  <div class="row m-0" id="unloggedRow">
    <div class="col-12 p-0" id="naviContainer">
      <nav class="nav row m-0 sticky-top navbar">
          <div class="d-flex justify-content-center align-items-center" id="brand"><span style='color: #143E00'>OST</span>Place</div>
          <div class="col-3 ml-auto d-flex justify-content-end m-0" id="naviButtons">
            <button class="btn btn-success py-0 px-5" routerLink="login" >Log In</button>
          </div>
      </nav>
    </div>
    <div class="col-12 p-0" id="contentContainer">
        <!-- HERO PAGE -->
        <div class="col-12 p-0" id="heroPage">
          <div class="col-12 col-md-6 m-0 p-0" id="heroInfo">
            <h1>Revive your project with original soundtrack</h1>
            <button class="btn btn-success">Catalog</button>
          </div>
        </div>
        <!-- CONTENT PAGE -->
        <div class="col-12 p-0" id="ContentPage">
          <!-- MUSIC Container -->
          <!-- <div class=""  id="musicBox"> -->
            <div class="col-12 d-flex justify-content-start flex-wrap align-content-between p-3"  id="musicBox">
              <!-- OSTS BOXES LOOP -->
              <div class="row m-0 p-0">
              <div class="col-12 col-md-5 mb-2 m-2 m-lg-3 p-0 songContainer " *ngFor='let x of songs; index as i' >
                <div class="row m-0 p-0">
                  <div class="col-12 top p-0">
                    <div class="row m-0 p-0">
                      <div class="col-4 p-0 musicIMG">
                        <div class="imgHover"><fa-icon [icon]='playHover'></fa-icon></div>
                        <img [src]='x.cover' alt='OSTImage' (click)="playAudio(x.ost, x.title)">
                      </div>
                      <div class="col-8 musicInfo p-0">
                        <div class="col-12 price d-flex justify-content-end align-content-center">{{x.price}} $</div>
                        <div class="col-12 title"><b>{{x.title}}</b></div>
                        <div class="col-12 desc"><p>{{x.desc}}</p><i></i></div>
                        <div class="col-12 info">
                          <div class="row">
                            <div class="col-10 author mt-1"><b>Made by: {{x.author}}</b></div>
                            <div class="col-2 buy p-0 mt-2" (click)="GoTologIn()"><fa-icon [icon]="cart"></fa-icon></div>
                          </div>
    
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-12 tags">
                    <ul class="tagList p-2 d-flex flex-row flex-nowrap">
                      <li  *ngFor = 'let x of x.tags; index as i' >{{tags[x-1].name}}</li>
                      
                    </ul>
                  </div>
                </div>
              
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

</div>