<div class="container-fluid m-0 p-0" id="settingsWhole">
    <div class="row m-0">
        <div class="col-2 col-sm-2 col-md-3 col-lg-2 col-xl-1" id="sideBarContainer">
            <app-navigation></app-navigation>
        </div>
        <div class="col-10 col-sm-10 col-md-9 col-lg-10 col-xl-11 p-0" id="settingsContainer">
            <div id="settings" class="pt-2 px-lg-3"> 
                <fa-icon [icon]="check" id="check"></fa-icon>  
                <h2><b>Transaction complete successfully</b></h2>
           </div>
        </div>
    </div>
</div>