<div class="container-fluid m-0 p-0" id="settingsWhole">
    <div class="row m-0">
        <div class="col-2 col-sm-2 col-md-3 col-lg-2 col-xl-1" id="sideBarContainer">
            <nav class="nav justify-content-center">
                <div class="row m-0 p-0">
                  <div class="col-12 p-2" id="brand" (click)="changePlace('')"><span style='color: #143E00'>OST</span>Place</div>
                  <div class="col-12 mt-auto ml-auto d-flex flex-column  p-0" id="naviButtons">
                    <button class="btn btn-success"  (click)="changePlace('register')">Sign Up</button>
                    <button class="btn btn-success mt-2"  (click)="changePlace('login')">Log In</button>
                  </div>
                </div>
              </nav>
        </div>
        <div class="col-10 col-sm-10 col-md-9 col-lg-10 col-xl-11 p-0" id="settingsContainer">
            <div id="settings" class="pt-2 px-lg-3"> 
                <h2><b>Email Changed!</b></h2>
           </div>
        </div>
    </div>
</div>