@import '../../scss/_variables.scss';
@import '../../scss/_placeholders.scss';
@import '../../scss/_mixins.scss';
@import '../../scss/_keyframes.scss';

#basketWhole{
    background: rgb(0,0,0);
    background: $contentBackground;
    height: 100vh;
    position: relative;
    font-family: 'Imbue', serif;
    min-width: 400px;
    color:#f9f9f9;
  #musicPlayer{
        @extend %musicPlayer;
        #audioBox{
            width: 100%;
            background-color: $contentBackground;
        }
    }

    .row{
        @extend %MaxSize;

        //navigationBar
        #sideBarContainer{
            padding: 0;
            height: 100vh;
            -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
        }
        // RIGHT CONTENT 
        #basketContainer{
            min-height: 100vh;
            min-width: 100px;
            position: relative;
            -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
          ul{
            list-style-type: none;
            width: 100%;
            height: 100%;
            padding:20px;
            // background-color: blue;
            overflow-y: auto;
            li{
                width: 100%;
                height: 10%;
                border-bottom:2px solid #14ed148f;
                border-radius: 5px;
                .OSTcover{
                    height: 100%;
                    img{
                        @extend %MaxSize;
                        &:hover{
                            cursor:pointer;
                            filter:blur(2px);
                            border:1.5px solid red;
                        }
                    }
                }
                .OSTinfo{
                    @include respectFont(3vw, 2.3vw, 1.7vw, 1.5vw, 1.2vw);
                    .row{
                        .title{
                            @extend %centerFlex;
                        }
                        .tags{
                            ul{
                                list-style-type: none;
                                height: 100%;
                                display:flex;
                                flex-direction: row;
                                align-items: center;
                                li{
                                    width: 24%;
                                    background-color: $tagsColor;
                                    margin-left:5px;
                                    border-radius: 5px;
                                    height: 50%;
                                    float: left;
                                    @extend %GreenLi;
                                    border-radius: 15px;
                                    transition: 0.2s;
                                    float: left;
                                    padding:8px 16px;

                                    @extend %centerFlex;
                                    
                                        &:hover{
                                            background-color: $tagsColorHover;
                                            -webkit-box-shadow: inset 1px -13px 5px -7px rgba(194, 202, 191, 1);
                                            -moz-box-shadow: inset 1px -13px 5px -7px rgba(194, 202, 191, 1);
                                            box-shadow: inset 1px -13px 5px -7px rgba(194, 202, 191, 1);
                                        }
                                    }
                            }
                        }
                    }
                }
                .delete{
                    @include respectFont(3vw, 2vw, 2vw, 1.5vw, 1.2vw);
                    @extend %centerFlex;
                    fa-icon:hover{
                        cursor: pointer;
                        color:#a5a5a5f9;
                    }
                }
            }
            button{
                position: absolute;
                bottom:20px;
                -webkit-box-shadow:  inset -15px -14px 17px -13px rgba(27, 27, 27, 0.85);
                -moz-box-shadow:  inset -15px -14px 17px -13px rgba(27, 27, 27, 0.85);
                box-shadow:  inset -15px -14px 17px -13px rgba(27, 27, 27, 0.85);
            }
          }
        }
    }
}                        

.alert{
    width: 25%;
    position: absolute;
    bottom:50px;
    right: 0;
    z-index:2000;
    animation: showAlert 0.5s linear;
    fa-icon{
        float:right;
        &:hover{
            cursor: pointer;
            color:#0c0c0ca6;
        }
    }
 }