@import '../../scss/_variables.scss';
@import '../../scss/_mixins.scss';
@import '../../scss/_keyframes.scss';
@import '../../scss/_placeholders.scss';

#deleteAlert{
    position: absolute;
    left:40%;
    top:10%;
    background-color: #272626;
    background: rgb(29,29,29);
    background: linear-gradient(148deg, rgba(29,29,29,0.8743698162858894) 0%, rgba(37,37,37,1) 48%, rgba(0,0,0,1) 100%);
    width: 30vw;
    border:2px solid #06060648;
    height: 30vw;
    z-index: 20;
    font-size:2.5vw;
    border-radius: 15px;
    padding:10px;
    min-width: 200px;
    color:#f9f9f9;
    @include respectFont(3vw, 3vw, 2vw, 2vw, 1.8vw);
    @media only screen and(max-width:760px) {
        height: 35vh;
    }
    #buttons{
        width: 100%;
        height: 10%;
        position: absolute;
        bottom: 5%;
        @media only screen and(max-width:768px) {
            height: 20%;
        }
        @media only screen and(max-width:1680px) {
            height: 15%;
        }

        button{
            width: 40%;
            height: 100%;
        }
        button:last-child{
            position: absolute;
            right:10%;
        }
    }
 
}

#myOSTWhole{
    height: auto;
    background: rgb(0,0,0);
    background: $contentBackground;
    position: relative;
    font-family: 'Imbue', serif;
    color:#f9f9f9;
    min-width: 400px;
    #musicPlayer{
        @extend %musicPlayer;
        #audioBox{
            width: 100%;
            background-color: $contentBackground;
        }
    }
    .row{
        height: 100%;
        #sideBarContainer{
            -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            height: 100%;
        }
        .myOSTContainer{
            height: auto;
            .row{
                #title{
                    height: auto;
                    @include respectFont(4vw, 3vw, 2vw, 2vw, 1.6vw);
                }
                .OST{
                    height: 25vh;
                    background-color: #2424243a;
                    .bot{
                        height: 80%;

                        .img{
                            height: 100%;
                            -webkit-box-shadow:  7px 14px 17px -4px rgba(0, 0, 0, 0.55);
                            -moz-box-shadow:  7px 14px 17px -4px rgba(0, 0, 0, 0.55);
                            box-shadow:  7px 14px 17px -4px rgba(0, 0, 0, 0.55);
                            img{
                                width: 100%;
                                height: 100%;
                                opacity: 0.9;
                                border-radius: 0 0 0 10px;
                                &:hover{
                                    filter:blur(2px);
                                    cursor: pointer;
                                }
                            }
                        }
                        .info{
                            height: 100%;
                            .title{
                                height: 50%;
                                @include respectFont(4vw, 4vw, 3vw, 2vw, 1.5vw);
                            }
                            .desc{
                                height: 50%;
                                overflow-y: auto;
                                -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                                -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                                box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
                            }

                        }
                    }

                    .options{
                        height: auto;
                        float:right;
                        justify-content: center;
                        ul{
                            list-style-type: none;
                            text-align: center;
                            li{
                                float:left;
                                width: 10%;
                                @include respectFont(7vw, 4vw, 3vw, 2vw, 1.5vw);
                                margin-left:15px;
                                a{
                                    &:hover{
                                        color:rgb(30, 163, 12);
                                    }
                                }
                            }
                            li:nth-child(1){
                                fa-icon{
                                    &:hover{
                                        cursor: pointer;
                                        color: rgb(30, 163, 12);
                                    }
                                }

                            }
                            li:nth-child(2){
                                fa-icon{
                                    &:hover{
                                        cursor: pointer;
                                        color: yellow;
                                    }
                            }
                            }
                            li:nth-child(3){
                                margin-left:1vw;
                                fa-icon{
                                    &:hover{
                                        cursor: pointer;
                                        color:rgba(177, 28, 28, 0.842);
                                    }
                                }

                            }
                            
                        }
                    }
                }
               
            }
        }
     
    
    }
}

.alert{
    width: 25%;
    position: absolute;
    bottom:0;
    right: 0;
    z-index:2000;
    animation: showAlert 0.5s linear;
    fa-icon{
        float:right;
        &:hover{
            cursor: pointer;
            color:#0c0c0ca6;
        }
    }
 }

ngb-pagination ::ng-deep ul{
    @extend %PaginationStyle;
}