<div class="container-fluid p-0" id="myOSTWhole">
    <div id="musicPlayer" #musicPlayer>
        <p #title></p>
        <audio controls id="audioBox" #audioBox [hidden]="!isPlaying">
          <source type="audio/mpeg" id='audio' #audio/>
          <source type="audio/wav" id='audioWav' #audio/>
        </audio>
      </div>
    <!-- MODAL -->
    <div class="alert alert-success" *ngIf="alertSuccess" role="alert">
        <fa-icon [icon]="xSign" (click)="hideAlertSuccess()"></fa-icon>
            OST has been deleted.
    </div>
    <div id="deleteAlert" *ngIf="deleteAlert">
        <b>Are you sure that you want to delete that OST from your library?</b>
        <div class="col-12" id="buttons">
            <button class="btn btn-danger" (click)="removeOST()">YES</button>
            <button class="btn btn-success" (click)="hideAlert()">NO</button>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-2 col-sm-2 col-md-3 col-lg-2 col-xl-1 p-0 sticky-top" id="sideBarContainer">
            <app-navigation></app-navigation>
        </div>
        <div class="col-10 col-sm-10 col-md-9 col-lg-10 col-xl-11 p-0 myOSTContainer">
            <div class="row m-0 p-2">
                <div class="col-12 text-center" id="title"><h2>My OSTS</h2></div>
                <div class="col-12 col-lg-12 p-1 mb-5 OST" *ngFor="let x of OSTS">
                    <div class="bot d-flex flex-row m-0">
                        <div class="img col-3 p-0">
                            <img [src]='x.cover' alt='MyOSTImage' (click)="playAudio(x.ost, x.title)">
                        </div>
                        <div class="info col-9 d-flex flex-column p-0">
                            <div class="row m-0">
                                <div class="title col-12">{{x.title}}</div>
                                <div class="desc col-12">{{x.desc}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="options col-12 m-0 p-0">
                        <ul class="d-flex justify-content-end p-0">
                            <li><a [href]='x.ost'><fa-icon [icon]='download'></fa-icon></a></li>
                            <li><fa-icon [icon]='pen' [routerLink]="['change/',x.id]"
                                ngbPopover="Edit"
                                popoverClass="popOverBody"
                                triggers="mouseenter:mouseleave"
                                ></fa-icon></li>
                            <li><fa-icon
                                ngbPopover="Delete"
                                popoverClass="popOverBody"
                                triggers="mouseenter:mouseleave" 
                                [icon]='remove' (click)="toggleAlert(x.id)"></fa-icon></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12" id="paginationBar">
                    <ngb-pagination class="paginationBar d-flex justify-content-center align-items-center mt-5"
                    [collectionSize]="collectionSize"
                    [(page)]="pageNum"
                    [pageSize]=2
                    (pageChange)="changePage($event)"
                    ></ngb-pagination>
                  </div>
            </div>

        </div>
    </div>
      
</div>