@import '../../scss/_variables.scss';
#notificationsWhole{
    height: 100vh;
    background: rgb(0,0,0);
    background: $contentBackground;
    position: relative;
    font-family: 'Imbue', serif;
    min-width: 400px;
    color:#f9f9f9;
    .row{
        height: 100%;

        #sideBarContainer{
            -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
        }
        #notificationsContainer{
            height: 100vh;
            position: relative;
            -webkit-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            -moz-box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
            box-shadow: inset -7px 1px 17px -4px rgba(0, 0, 0, 0.55);
        
        }
    }

}